button {
    border-style: solid;
    background-color: transparent;
    color: white;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    right: 0px;
}

.button {
    position: absolute;
    bottom: 35px;
    right: 35px;
    font-size: 25px;
}