.background {
    background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    min-height: 100vh;
    height: auto;
    width: 100%;
    overflow: auto;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.your-weapon {
   margin-right: 10vh;
   text-align: center; 
}
.house-weapon {
    margin-left: 10vh;
    text-align: center; 
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    color: white;
}
.placeholder {
    margin-top: 45px;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background-color: hsl(237, 40%, 18%);
}